
body{
	margin:0px;
	padding: 0px;
	font-family: Century Gothic;
	color:white;
}
/*Header Section start*/
header{
	background-color:#121b2a;
}

/*Header Content start*/
.wrap{
	overflow:hidden;
	margin:0 auto;
	width:80%;
	}

/*Header Logo start*/
.logo{
	float:left;
	width:18%;
}
.logo img{
	width:100%;
	padding:6% 0;
}
.login{
	float:right;
	width:60%;
}
.login ul{
	margin:0px;
	float:right;
	display:inline-flex;
}
.login ul a{
}
.login ul a li {
	list-style:none;
	display:inline-block;
	padding: 0.3em 0.7em;
	background-color:#0078bd;
}
.login ul a:hover li{
	background-color:white;
	color:black;
}
/*Header Logo End*/
/*Header Menu start*/
.menu{
	float:right;
	margin-top:1%;
	width:78%;
}
.menu ul{
	text-align:right;
	padding:12px 0px;
	margin:0px;
}
.menu ul li{
	list-style:none;
	display:inline-block;
	padding: 0px 2%;;
}
.menu ul li:last-child{
	padding-right:0;
}

.login ul a, .menu ul li a{
	text-decoration: none;
	color:white;
	font-size:1.5vw;
	text-transform:uppercase;
}
.menu ul li a:hover{
	color:#006caa;
}
/*Header Menu End*/
/*Header Content End*/
/*Header Section End*/

/*Banner start*/

.banner{
	background-image:url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position:top;
}
.banner_content{
	width:55%;
	margin-top: 21%;
	margin-bottom:10%;
}
.banner_content h1{
	font-size:3vw;
	font-weight:normal;
	margin:0;
	
}
.banner_content h2{
	font-size:3vw;
	font-weight:bold;
	color:#0075ba;
	margin:0;
}
.banner_content p{
	margin:0;
	font-size:1.1vw;
	line-height:2vw;
}
.banner_content button{
	width:52%;
	margin-top:6%;
	font-size:2vw;
	font-weight:bold;
	text-transform:uppercase;
	color:#5a5a5a;
    padding: 3% 5%;
	border:0;
	border-radius: 5px;
	cursor:pointer;
}
.banner_content button:focus{
	outline:0;
}
.banner_content button:hover{
	color:#0075ba;
}
.banner_content button img{
	display:block;
	float:right;
	padding-left:8%;
	width:12%;
}

/*Banner End*/

/*Main Section-2 Start*/
.service{
	background-color: #121b2c;
	padding-top:3%;
	padding-bottom:2%;
}
/*First Content Start*/
.service1{
	width:31%;
	box-sizing:border-box;
	float:left;
	padding-right:2%;
}
.service1 .service_head{
	margin-bottom:1.4%;
}
.service_head{
	overflow:hidden;
	position:relative;
	padding-bottom:4%;
}
.head_image{
	float:left;
	width:22%;
	box-sizing:border-box;
}
.head_image img{
	width:100%;
	
}
.head_text{
	float:left;
	width:78%;
	box-sizing:border-box;
	position:absolute;
	left:25%;
	bottom:22%;
}
.head_text h2{
	margin:0;
	font-size:2vw;
	font-weight: normal;
}
.head_text h3, .head_text h2 span{
	margin:0;
	font-size:2vw;
	font-weight:bold;
	color: #0075ba;
	bottom:0;
}
.service_body{}
.service_body p{
	margin:0;
	font-size:1.1vw;
	line-height:2vw;
	text-align:justify;
	padding-bottom:16%;
}
/*First Content End*/

/*Second Content Start*/
.service2{
	width:37%;
	box-sizing:border-box;
	float:left;
	padding: 0 3%;
	border-left: 1px solid #1a2430;
	border-right: 1px solid #1a2430;
}
/*Second Content End*/

/*Third Content Start*/
.service3{
	width:32%;
	box-sizing:border-box;
	float:left;
	padding-left: 2%;
}
/*Third Content End*/

/*Main Section-2 End*/


/*Main Section-3 Start*/
.section3{
	background-color:black;
	overflow:hidden;
	padding: 0 10%;
	font-size:1vw;
}
.section3 p {
	padding:0px;
	margin:0px;
}
.section3_col1{
	width:30%;
	float:left;
	box-sizing:border-box;
	padding: 0 2%;
}
.section3_col1_head{
	margin-top:20%;
	margin-bottom:8%;
}

.section3_col1_head p:nth-child(1),
.section3_col2_head p:nth-child(1){
	display:inline-block;
	font-size:1.8vw;
}
.section3_col1_head p:nth-child(2),
.section3_col2_head p:nth-child(2){
	display:inline-block;
	font-size:1.8vw;
	font-weight:bold;
	color:#0075ba;
	
}
.section3_col1 div:last-child p{
	margin-bottom:10%;
}

.section3_col2{
	width:35%;
	float:left;
	box-sizing:border-box;
	padding: 0 2%;	
}

.section3_col2_head{
	background-color:#0c1019;
	margin-top:11%;
	margin-bottom:8%;
	padding: 6%;
	border-radius:0.5em;
	position:relative;
}
.section3_col2_head:after{
	content: "";
	position:absolute;
	top:100%;
	left:60%;
	border-top: 1.8em solid #0c1019;
	border-right: 6em solid transparent;
}

.section3_col2_head p:nth-child(2){
	margin-bottom:8%;
}
.section3_col2_head blockquote{
	padding:0px;
	margin:0px;
}
.section3_col2 div:last-child p{
	padding-left:10%;
}
.section3_col3{
	width:35%;
	float:left;
	box-sizing:border-box;
	padding: 0 2%;
	margin-top:4%;
	margin-bottom:3%;
	overflow:hidden;
}

.section3_col3 div:first-child{
	float:left;
	width:35%;
	margin-right:10%;
}

.section3_col3 div:first-child img{
	width:100%;
}
.section3_col3 div:last-child{
	float:left;
	width:55%;
}
.section3_col3_head{
	
}
.section3_col3_head p:nth-child(1){
	font-size:1.8vw;
}
.section3_col3_head p:nth-child(2){
	font-size:2.2vw;
	font-weight:bold;
	color:#0075ba;
	margin-bottom:5%;
}
.section3_col3_head a{
	
}
.section3_col3_head a img{
	width:100%;
}


/*Main Section-2 End*/

/*Footer Start*/
footer{
	position:relative;
	font-size:1.1vw;
}
.footer_background img{
	display:block;
	width:100%;
}
.footer_content{
	position:absolute;
	top:15%;
	width:80%;
	margin-left:12%;
}
.footer_content_menu{}
.footer_content_menu ul{
	list-style:none;
	padding:0 0 1.5% 0;
}
.footer_content_menu ul li{
	float:left;
	padding:0 0.8%;
}
.footer_content_menu ul li:first-child{
	padding-left:0;
}
.footer_content_menu ul li:last-child{
	padding-right:0;
}
.footer_content_menu ul li a{
	text-decoration:none;
	color:white;
}
.footer_content_menu ul li a:hover{
	color:#0075ba;
}
.footer_content_copyright{}
/*Footer End*/
